.drawer-container {
    width: 100%;
    height: 100%;
  }
  
.outside-drawer-content {
  position: relative;
  width: calc(100% - 87px);
  height: 100%;
  left: 87px;
} 

.side-menu-button {
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
  -webkit-transform:rotate(-90deg);
  white-space: nowrap;
  display: flex;
  align-items: center;
}
::ng-deep .button-container .mat-grid-tile-content {
  background: #DDE4FB;
  padding: 0;
}