<mat-drawer-container class="drawer-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" position="end">
        <app-tasks-drawer></app-tasks-drawer>
    </mat-drawer>

    <div class="outside-drawer-content">
        <mat-grid-list cols="50" rowHeight="100%">
            <mat-grid-tile [colspan]=49 >
                <app-video-player></app-video-player>
            </mat-grid-tile>
            <div class="button-container">
                <mat-grid-tile position="end" mat-button (click)="toggleDrawer()">
                    <div class="side-menu-button">
                        <mat-icon>{{this.showStages ? "expand_more" : "expand_less"}}</mat-icon>
                        {{this.showStages ? "Hide stages" : "Show stages"}}
                    </div>
                </mat-grid-tile>
            </div>
        </mat-grid-list>
    </div>
</mat-drawer-container>
