<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/videojs-markers/0.7.0/videojs-markers.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/videojs-markers/0.7.0/videojs.markers.min.css" rel="stylesheet" />

<link href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" rel="stylesheet" />

<div class="player-container">
    <div >
        <video id="video-player" class="video-js vjs-big-play-centered video-player-dim" controls autoplay preload loadingSpinner type="video/mp4" [src]=this.url>
        </video>
    </div>
    <button 
        *ngIf="areStagesPresent"
        (click)="skipToException()" 
        mat-stroked-button 
        id="overlay-button"
        [style.top.px]="getButtonTop()"
        [style.left.px]="getButtonLeft()">
        Jump to exception
        <mat-icon>skip_next</mat-icon>
    </button>
</div>
